<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techjd.placementpreparation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tcs26"></activity>
        <activity android:name=".tcs25" />
        <activity android:name=".tcs24" />
        <activity android:name=".tcs23" />
        <activity android:name=".tcs22" />
        <activity android:name=".tcs21" />
        <activity android:name=".tcs20" />
        <activity android:name=".tcs19" />
        <activity android:name=".tcs18" />
        <activity android:name=".tcs17" />
        <activity android:name=".tcs16" />
        <activity android:name=".tcs15" />
        <activity android:name=".tcs14" />
        <activity android:name=".tcs13" />
        <activity android:name=".tcs12" />
        <activity android:name=".tcs11" />
        <activity android:name=".tcs10" />
        <activity android:name=".tcs9" />
        <activity android:name=".tcs8" />
        <activity android:name=".tcs7" />
        <activity android:name=".tcs6" />
        <activity android:name=".tcs5" />
        <activity android:name=".tcs4" />
        <activity android:name=".tcs3" />
        <activity android:name=".tcs2" />
        <activity android:name=".tcs1" />
        <activity android:name=".info40" />
        <activity android:name=".info39" />
        <activity android:name=".info38" />
        <activity android:name=".info37" />
        <activity android:name=".info36" />
        <activity android:name=".info35" />
        <activity android:name=".info34" />
        <activity android:name=".info33" />
        <activity android:name=".info32" />
        <activity android:name=".info31" />
        <activity android:name=".info30" />
        <activity android:name=".info29" />
        <activity android:name=".info28" />
        <activity android:name=".info27" />
        <activity android:name=".info26" />
        <activity android:name=".info25" />
        <activity android:name=".info24" />
        <activity android:name=".info23" />
        <activity android:name=".info22" />
        <activity android:name=".info21" />
        <activity android:name=".info20" />
        <activity android:name=".info19" />
        <activity android:name=".info18" />
        <activity android:name=".info17" />
        <activity android:name=".info16" />
        <activity android:name=".info15" />
        <activity android:name=".info14" />
        <activity android:name=".info13" />
        <activity android:name=".info12" />
        <activity android:name=".info11" />
        <activity android:name=".info10" />
        <activity android:name=".info9" />
        <activity android:name=".info7" />
        <activity android:name=".info8" />
        <activity android:name=".info6" />
        <activity android:name=".info5" />
        <activity android:name=".info4" />
        <activity android:name=".info3" />
        <activity android:name=".info2" />
        <activity android:name=".info1" />
        <activity android:name=".logi26" />
        <activity android:name=".logi25" />
        <activity android:name=".logi24" />
        <activity android:name=".logi23" />
        <activity android:name=".logi22" />
        <activity android:name=".logi21" />
        <activity android:name=".logi20" />
        <activity android:name=".logi19" />
        <activity android:name=".logi18" />
        <activity android:name=".logi17" />
        <activity android:name=".logi16" />
        <activity android:name=".logi15" />
        <activity android:name=".logi14" />
        <activity android:name=".logi13" />
        <activity android:name=".logi12" />
        <activity android:name=".logi11" />
        <activity android:name=".logi10" />
        <activity android:name=".logi9" />
        <activity android:name=".logi8" />
        <activity android:name=".logi7" />
        <activity android:name=".logi6" />
        <activity android:name=".logi5" />
        <activity android:name=".logi4" />
        <activity android:name=".logi3" />
        <activity android:name=".logi2" />
        <activity android:name=".logi1" />
        <activity android:name=".wip8" />
        <activity android:name=".wip7" />
        <activity android:name=".wip6" />
        <activity android:name=".wip5" />
        <activity android:name=".wip4" />
        <activity android:name=".wip3" />
        <activity android:name=".wip2" />
        <activity android:name=".wip1" />
        <activity android:name=".hu2" />
        <activity android:name=".hu1" />
        <activity android:name=".mind7" />
        <activity android:name=".mind6" />
        <activity android:name=".mind5" />
        <activity android:name=".mind4" />
        <activity android:name=".mind3" />
        <activity android:name=".mind2" />
        <activity android:name=".mind1" />
        <activity android:name=".mph4" />
        <activity android:name=".mph3" />
        <activity android:name=".mph2" />
        <activity android:name=".mph1" />
        <activity android:name=".lt6" />
        <activity android:name=".lt5" />
        <activity android:name=".lt4" />
        <activity android:name=".lt3" />
        <activity android:name=".lt2" />
        <activity android:name=".lt1" />
        <activity android:name=".ib3" />
        <activity android:name=".ib2" />
        <activity android:name=".ib1" />
        <activity android:name=".lg3" />
        <activity android:name=".lg2" />
        <activity android:name=".lg1" />
        <activity android:name=".cod9" />
        <activity android:name=".cod8" />
        <activity android:name=".cod7" />
        <activity android:name=".cod6" />
        <activity android:name=".cod5" />
        <activity android:name=".cod4" />
        <activity android:name=".code4" />
        <activity android:name=".cod3" />
        <activity android:name=".cod2" />
        <activity android:name=".cod1" />
        <activity android:name=".gra6" />
        <activity android:name=".gra5" />
        <activity android:name=".gra4" />
        <activity android:name=".gra3" />
        <activity android:name=".gra2" />
        <activity android:name=".gra1" />
        <activity android:name=".cog2" />
        <activity android:name=".cog1" />
        <activity android:name=".cc2" />
        <activity android:name=".cc1" />
        <activity android:name=".cap2" />
        <activity android:name=".cap1" />
        <activity android:name=".bo2" />
        <activity android:name=".bo1" />
        <activity android:name=".am11" />
        <activity android:name=".am10" />
        <activity android:name=".am9" />
        <activity android:name=".am8" />
        <activity android:name=".am7" />
        <activity android:name=".am6" />
        <activity android:name=".am5" />
        <activity android:name=".am4" />
        <activity android:name=".am3" />
        <activity android:name=".am2" />
        <activity android:name=".am1" />
        <activity android:name=".book" />
        <activity android:name=".logical" />
        <activity android:name=".grammar" />
        <activity android:name=".code" />
        <activity android:name=".zenq" />
        <activity android:name=".audi" />
        <activity android:name=".mphasis" />
        <activity android:name=".lumen" />
        <activity android:name=".cognizant" />
        <activity android:name=".tek" />
        <activity android:name=".lg" />
        <activity android:name=".unisys" />
        <activity android:name=".capgemini" />
        <activity android:name=".secureeye" />
        <activity android:name=".amcat" />
        <activity android:name=".cocubes" />
        <activity android:name=".bosch" />
        <activity android:name=".huawei" />
        <activity android:name=".mindtree" />
        <activity android:name=".lt" />
        <activity android:name=".ibm" />
        <activity android:name=".ion" />
        <activity android:name=".wipro" />
        <activity android:name=".tcs" />
        <activity android:name=".accenture" />
        <activity android:name=".infosys" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>